html {
   background: url("images/extraGreen.png") ;
   position: fixed;
   top: 0;
   left: 0;
   /* Preserve aspet ratio */
   min-width: 100%;
   min-height: 100%;
}
.container {
  text-align:center
}

h1 {
  color: #B0F2B6;
}

