<html>
<header>
  <div class="topnav">
    <a routerLink="./">Home</a>
    <a routerLink="/residences">Available residences</a>
    <a routerLink="/contact">Contact</a>
  </div>
</header>
<body>
  <div class="container">
    <br/>
    <router-outlet></router-outlet>
  </div>
</body>
<footer>
  <div class="overlay">
    <h1>Louiza & Azzaz residences</h1>
    <h3>Reasons for Choosing US</h3>
    <p>Our organism offers the ideal studios for students to rent. It is exclusively for students and located rearby many universities.</p>
    <br>
    <button>READ MORE</button>
  </div>
</footer>
</html>

