html {
   background: url("../assets/images/extraGreen.png") ;
   position:fixed;
   top: 0;
   left: 0;
   /* Preserve aspet ratio */
   width: 100vw;
   height: 100vh;
   overflow-y:scroll;
   overflow-x:hidden;
}

body {
  min-height: 100vh;
  position: relative;
  display:block;
  padding-bottom: 10px;
}

h1 {
  text-align: center;
  color: #B0F2B6;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  position:fixed;
  top:0;
  width:100%;
  z-index:10;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
#img {
  padding:3px 0 0 0;
}
.topnav a img{
  height:44px;
 }

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

footer {

	text-align: center;
	width: 100%;
	height: 25%%;
	background-size: cover;
	background-attachment: fixed;
	overflow: hidden;
  position: relative;

}
.overlay{
	width: 100%;
	height: 100%;
	padding:10px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient( 95deg, #333 10%, #555 100%);

}

.info {
  position:relative;
  float:right;
  inline:block;
  width:85%;
}

footer.h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 80px;
	margin-bottom: 30px;
}

footer.h3, footer.p {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;
}

footerbutton {
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	color: #333;
	background: #fff;
	margin-bottom: 50px;
	box-shadow: 0 3px 20px 0 #0000003b;
}

footer.button:hover{
	cursor: pointer;
}
