.detail {
  padding:15px;
}
div{

  padding: 80px 20px 40px 20px;
	position: relative;
	vertical-align: top;
	margin: 10px;
	font-family: 'helvetica', san-serif;
	width:60%;
	min-height: 25%;
	background: #262a2b;
	border: 1px solid #252727;
	margin-top:40px;
	display: inline-block;
  color:white;
  }

div img{
   display: inline-block;
   width: 50%;
   height: 60%;
   float: right;
}

table, th, td {
  border: 1px solid black;
  color: white;
  border-collapse: collapse;
  border-color: #B0F2B6
}

i {
color: #B0F2B6;
}
