<div class="detail">

  <img [src]="'../../assets/images/res'+ residence.id+'.jpg'" />
  <h1>{{residence.nom}}</h1>
  <i>{{residence.adresse}}</i>
  <p>
   {{residence.description}}
  </p>

<table>
  <tr>
    <td><b>nombre de studios:</b></td>
    <td>{{residence.n_studios}}</td>
  </tr>
  <tr>
    <td><b>nombre de studios libres:</b></td>
    <td>{{residence.n_libres}}</td>
  </tr>
  <tr>
    <td><b>prix minimal:</b> </td>
    <td>{{residence.minPrix}} €</td>
  </tr>
  <tr>
    <td>
      <b>prix maximal:</b>
    </td>
    <td>{{residence.maxPrix}} €</td>
  </tr>
</table>
</div>
<div class="res"*ngIf="residence">
  <table>
    <tr>
      <th>type</th>
      <th>superficie</th>
      <th>prix par mois</th>
      <th>prix de caution</th>
      <th>nombre de studios</th>
      <th>studios libres</th>
      <th>réserver</th>
    </tr>
    <tr *ngFor="let std of studios">
      <td>{{std.type}}</td>
      <td>{{std.superficie}}</td>
      <td>{{std.prixmois}}</td>
      <td>{{std.prixcaution}}</td>
      <td>{{std.n_occurence}}</td>
      <td>{{std.n_libres}}</td>
      <td><button>Cliquer pour réserver</button></td>
    </tr>
  </table>
</div>
