
.detail, .res{
  padding: 80px 20px 40px 20px;
	position: relative;
	vertical-align: top;

	font-family: 'helvetica', san-serif;
	width:60%;
	min-height: 25%;
	background: #262a2b;
	border: 1px solid #252727;
	margin:40px;
	display: inline-block;
  color:white;
  }

.detail img{
   display: inline-block;
   width: 50%;
   height: 60%;
   float: right;
}

table, th, td {
  border: 1px solid black;
  color: white;
  border-collapse: collapse;
  border-color: #B0F2B6
}

i {
color: #B0F2B6;
}

.res {
padding: 0 0 0 0;
width:40%;
margin-top:10px;
margin-left:12%;
}

body {
    background-color: #444442;
    padding-top: 85px;
}

.h1 {
    font-family: 'Poppins', sans-serif, 'arial';
    font-weight: 600;
    font-size: 72px;
    color: white;
    text-align: center;
}

h4 {
    font-family: 'Roboto', sans-serif, 'arial';
    font-weight: 400;
    font-size: 20px;
    color: #9b9b9b;
    line-height: 1.5;
}

/* ///// inputs /////*/

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 768px){
    .styled-input {
        width:100%;
    }
}

input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}
input {
    width: 650px;
    max-width: 100%;
}

input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: white;
    border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 15em;
}

.form {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}
label {
color:white;
size:100%;
}

.submit-btn {
    float: center;
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: black;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
              0 2px 10px 0 rgba(0,0,0,0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    margin-bottom:20px;
}

.submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
}

@media (max-width: 768px) {
    .submit-btn {
        width:100%;
        float: none;
        text-align:center;
    }
}
td p {
  color:red;
  text-align:center;
}
