<div *ngIf="!selectedResidence">
<h2>Available residences</h2>
<ul class="tilesWrap">
  <li *ngFor="let residence of residences"
      (click)="onSelect(residence)">
      <img [src]="'../../assets/images/res'+ residence.id+'.jpg'" />

        <h2>0{{residence.id}}</h2>
        <h3>{{residence.nom}}</h3>
        <i>{{residence.adresse}}</i>
        <br/><br/>
       <p>
          <b>nombre de studios:</b> {{residence.n_studios}}<br/>
          <b>nombre de studios libres:</b> {{residence.n_libres}}<br/>
          <b>prix minimal:</b> {{residence.minPrix}} €<br/>
          <b>prix maximal:</b> {{residence.maxPrix}} €
       </p>

  </li>
</ul>
</div>
<app-residence-detail [residence]="selectedResidence"></app-residence-detail>

