<div *ngIf="!selectedResidence">
<h2>Available residences</h2>
<ul class="tilesWrap">
  <li *ngFor="let residence of residences"
      (click)="onSelect(residence)">
      <img [src]="'../../assets/images/res'+ residence.id+'.jpg'" />

        <h2>0{{residence.id}}</h2>
        <h3>{{residence.nom}}</h3>
        <i>{{residence.adresse}}</i>
        <p>
        {{residence.description}}
        </p>
       <table>
          <tr>
            <td><b>nombre de studios:</b></td>
            <td>{{residence.n_studios}}</td>
          </tr>
         <tr>
           <td><b>nombre de studios libres:</b></td>
           <td>{{residence.n_libres}}</td>
         </tr>
         <tr>
           <td><b>prix minimal:</b> </td>
           <td>{{residence.minPrix}} €</td>
         </tr>
         <tr>
           <td>
           <b>prix maximal:</b>
           </td>
           <td>{{residence.maxPrix}} €</td>
         </tr>
       </table>

  </li>
</ul>
</div>
<div *ngIf = "selectedResidence">
  <app-residence-detail [residence]="selectedResidence"></app-residence-detail>

</div>

